.breadcrumbs { background-color: rgba(231,233,234,1); padding: 10px 15px; font-size: 0.8em; color: #a3a5a7;margin-bottom:-7px;} .breadcrumbs a { color: #333; } .breadcrumbs a:hover { color: #25a0db; }

.post-item {margin: 7px 0;
 border: 1px solid rgba(231,233,234,1);
 padding: 20px;
}
.post-thumbnail {
	position: relative;
	float: left;
	width: 200px;
	height: 112.5px;
}
.post-thumbnail img {
	width: 200px;
	height: 112.5px;
	display: block;
}
.breadcrumbs { background-color: rgba(231,233,234,1); padding: 10px 15px; font-size: 0.8em; color: #a3a5a7;margin-bottom:-7px;} .breadcrumbs a { color: #333; } .breadcrumbs a:hover { color: #25a0db; }

.post-item {margin: 7px 0;
 border: 1px solid rgba(231,233,234,1);
 padding: 20px;
}

.post-thumbnail {
	position: relative;
	float: left;
	width: 200px;
	height: 112.5px;
}
.post-thumbnail img {
	width: 200px;
	height: 112.5px;
	display: block;
}



h1.post-title {
	font-size: 30px;
	margin-bottom: 12px;
}
h2.post-title {
	margin-bottom: 12px;
}
h2.post-title a, h1.post-title a, h2.post-title, h1.post-title {
	color: #444;
	line-height: 1.3em;
}
h2.post-title a:hover, h1.post-title a:hover {
	color: #49ace1;
}

h2.post-title, .post-snippet {
	margin-left: 218px;
}
