{% extends "base_template.html" %}

{% block title %}{{ post.title }}{% endblock %}

{% block head_extra %}
    <meta name="description" content="{{ post.parsed_content }}">
    {# Tambahan meta tag spesifik untuk post ini #}
{% endblock %}

{% block content %}
    <h1>{{ post.title }}</h1>
    <div class="post-meta">
        Dipublikasikan: {{ post.published }}
    </div>
    <div class="post-content">
        {{ post.optimized_content | safe }}
    </div>

    {% if post.labels %}
    <div class="post-labels">
        <strong>Kategori:</strong>
        {% for label in post.labels %}
            <a href="/kategori/{{ label|slugify }}.html">{{ label }}</a>
        {% endfor %}
    </div>
    {% endif %}

    <div class="back-link">
        <a href="/">Kembali ke Beranda</a>
    </div>
{% endblock %}
